.fps_container {
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    right: 0px;
    display: none;
    font-size: 14px;
    line-height: 1.4;
    pointer-events: none;
}

.fps_container.is_visible {
    display: block;
    pointer-events: auto;
}